{% extends "base.html" %}
{% include "header.html" %}

{% block content %}

<!-- Header -->

<div class="container">
    
    <div class="card bg-light">
        <a href="/countries/gambia">        
            <h2 class=" text-primary text-center">The Gambia</h2>
        </a>
        <img src="https://disease.sh/assets/img/flags/gm.png" height="100px" class="card-img">

        <div class="card-body">

            <div class="row">
               
                <div class="col-md-2 "> 
                    <div class="card bg-danger text-center">
                        <h4 class="text-warning">New Cases</h4>
                        <h6 class="text-light">{{"{:,.0f}".format(gambia['todayCases'])}}</h6>
                    </div>
                </div>

                <div class="col-md-2 "> 
                    <div class="card bg-light text-center ">
                        <h4 class="text-secondary">Total Cases</h4>
                        <h6 class="text-dark">{{"{:,.0f}".format(gambia['cases'])}}</h6>
                    </div>
                </div>

                <div class="col-md-2 "> 
                    <div class="card bg-light text-center ">
                        <h4 class="text-secondary">Active</h4>
                        <h6 class="text-primary">{{"{:,.0f}".format(gambia['active'])}}</h6>
                    </div>
                </div>

                <div class="col-md-2 "> 
                    <div class="card bg-light text-center ">
                        <h4 class="text-secondary">Recovered</h4>
                        <h6 class="text-success">{{"{:,.0f}".format(gambia['recovered'])}}</h6>
                    </div>
                </div>

                <div class="col-md-2 "> 
                    <div class="card bg-light text-center ">
                        <h4 class="text-secondary">Deaths</h4>
                        <h6 class="text-danger">{{"{:,.0f}".format(gambia['deaths'])}}</h6>
                    </div>
                </div>

                <div class="col-md-2 "> 
                    <div class="card bg-light text-center ">
                        <h4 class="text-secondary">Population</h4>
                        <h6 class="text-dark">{{"{:,.0f}".format(gambia['population'])}}</h6>
                    </div>
                </div>


            </div>

        </div>

    </div>

</div>
<br>


<!-- Header -->




<div class="container">
    <div class="jumbotron page-header" align=center>

        <div class="row bg-info">
            <div class="col-md-6">
                <img src="{{country['countryInfo']['flag']}}" width="100px" alt="Flag of {{country['country']}}">
            </div>
            <div class="col-md-6">
                <h1 class="">{{country['country']}}</h1>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-12">

                <form action="/search" class="form-group">
                    <div>
                        <input class="form-control text-lg" type="text" placeholder="Search Country" name="country" />
                    </div>
                </form>
                
            </div>

        <div class="col-md-6">
            <table class="table table-bordered text-center">

                <tr>
                <td>Total Tests :</td>
                <td>{{"{:,.0f}".format(country['tests'])}}</td>
                </tr>

                <tr>
                <td>New Cases :</td>
                <td>{{"{:,.0f}".format(country['todayCases'])}}</td>
                </tr>

                <tr>
                <td>New Recovery :</td>
                <td>{{"{:,.0f}".format(country['todayRecovered'])}}</td>
                </tr>
                <tr>
                <td>Latest Deaths :</td>
                <td>{{"{:,.0f}".format(country['todayDeaths'])}}</td>
                </tr>
                <tr>
                <td>Critical Cases :</td>
                <td>{{"{:,.0f}".format(country['critical'])}}</td>
                </tr>
            </table>
        </div>    

        <div class="col-md-6">
            <table class="table table-bordered text-center">

                <tr>
                <td>Population :</td>
                <td>{{"{:,.0f}".format(country['population'])}}</td>
                </tr>

                <tr>
                <td>Total Cases :</td>
                <td>{{"{:,.0f}".format(country['cases'])}}</td>
                </tr>

                <tr>
                <td>Active Cases :</td>
                <td>{{"{:,.0f}".format(country['active'])}}</td>
                </tr>

                <tr>
                <td>Recovered Cases :</td>
                <td>{{"{:,.0f}".format(country['recovered'])}}</td>
                </tr>

                <tr>
                <td>Continent :</td>
                <td>{{country['continent']}}</td>
                </tr>
            </table>

        </div>


    </div>


</div>

{% include "footer.html" %}
{% endblock content %}